@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
  font-family: 'Mukta', sans-serif;
}

.page {
  background: url("/assets/images/hazy.jpg");
  background-color: #03719C;
  background-size: cover;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.page2 {
  background: url("/assets/images/acoustic.jpg");
  background-color: #03719C;
  background-size: cover;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.site-footer {
  margin-top: 0px;
  background-color: #535857;
  padding: 20px 0;
}

#header-nav {
  background-color: #535857;
  color: white;
}

.container {
  width: 50%;
  margin: auto;
}

.card {
  border-style: thin;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bio {
  text-align: center;
  font-size: 24px;
  align-items: center;
}

.card-flex {
  display: flex;
  justify-content: space-around;
}

.tile-card {
  height: 300px;
  width: 300px;
}

Card h1 {
  margin-left: 25px;
}

.nic-back {
  background-image: url("./images/nic-alt.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #535857;
  color: white;
}

.yell-back {
  background-image: url("./images/yell.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #535857;
  color: white;
}

.hazy-back {
  background-image: url("./images/hazy.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #535857;
  color: white;
}

.drums-back {
  background-image: url("./images/drums.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #535857;
  color: white;
}

.center {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header {
  font-size: 2em;
}

.lead {
  color: #f2f2f2;
  background: #ff4a4a;
  font-size: 1.1em;
  line-height: 74px;
  font-weight: 700;
  margin: 0 3px 21px;
  padding: 6px;
  margin: 0 3px 21px;
  font-family: 'Libre Baskerville', serif; 
}

.test {
  background-color: black;
}